.active1{
    background-color: rgb(216, 29, 29);
}

.active1:hover{
    background-color:#24b540 ;
    border-bottom: #24b540;

}

.btn-success{
    margin-left: 70px;
}

.frasi{
    line-height: 1.9;
}

input {
    height: 25px;
}

.pag{

    margin-left: 40% ;

}

.page-link{
    transition: 0.4s;
    background-color: #24b540;
    color: white;

}

.page-link:hover{
    background-color: rgb(224, 219, 219);
}

.active2{

    color: white ;
    background-color: #f47d23 !important ;
}

.modi {
    margin right: 100px;
}







